* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #272727;
    font-size: 20px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.nav-menu a:last-child{
    margin-right: 0;
}

button {
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    background-color: #544c9e;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}